#firstrow{
   /* margin-top:10% ;*/
    padding: 0%;
    margin:0%;
    margin-left:0% ;
    margin-right: 0%;
    margin-bottom:10% ;
    padding-right: 0%;
    padding-left: 0%; 
    background-color: #ff9b19;
}


#logo{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    align-self: center;
}


.nav-item{
    padding:3%;
}

.nav-link{
    color:white;
    font-family: serif;
    font-size: large;
    text-align: center;
}

.nav-link:hover{
    color: #561d03 ;
}

.nav-link:active{
    color: #561d03;
}

.nav-link:visited{
    color: #561d03;
}

.btn{
    border-left: 50%;
    border-radius: 50px;
    color:white;
    border-color:white;
    border-width: 40% !important;
    font-size: medium;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-top:5%;
}

.btn:hover{
    color: #561d03;
    transform:scale(120%);
border-color: #561d03;
}

.btn:visited{
    color: #561d03;
}

#heading{
    text-align: center;
    justify-content: center;
    font-family: monospace;
    color: #561d03 ;
}

#title{
    color:#ff9b19;
    text-align: center;
    font-size:300%;
font-weight: bold;
    font-family:  'Times New Roman', Times, serif;
    margin-bottom: 10%;
}


#formbody{
    margin-top: 2%;
    margin-bottom:2% ;
    margin-left: 5%;
    margin-right: 5%;
}

form .form-control{
    border-color: black;
    margin-bottom: 5%;
}

.col-md-4 button{
    margin-top:10%;
                        margin-left: 0%;
                        margin-right: 0%;
                        color:white;
                        background-color: #ff9b19 ;
                         padding-left: 10%;
                         padding-right: 10%;
                          padding-bottom:5% ;
                          padding-top: 5%;
                          border-radius: 50px;
}

.col-md-4 button:hover{
    transform: scale(150%);
    background-color: #561d03;
    color: white;
}

footer{
    background-color: #561d03;
    margin:0%;
    padding-left:10%;
    padding-right: 10%;
}

#foot{
margin:5%;
}

h6{
    color: #ff9b19 ;
    font-family:serif ;
    text-align: left;
}

footer a{
    
    color:white;
    padding-left: 5%;
    padding-right: 5%;
}

footer p{
    text-align: center;
    margin:5%;
    color:white;
    font-size: small;
}